<div class="content">
  <agm-map (mapReady)="mapReady()" *ngIf="positions.length" [latitude]="positions[0].latitude" [longitude]="positions[0].longitude" [zoom]="13">

    <agm-marker *ngFor="let position of positions; let i = index" [latitude]="position.latitude" [longitude]="position.longitude" [iconUrl]="icons[i]" [animation]="animation">
      <agm-info-window>
        Você esteve aqui há {{ formatHour(position.dateTime) }}.
      </agm-info-window>
    </agm-marker>

    <agm-polyline [strokeWeight]="4" strokeColor="purple">

      <agm-polyline-point *ngFor="let position of positions" [latitude]="position.latitude" [longitude]="position.longitude"></agm-polyline-point>

    </agm-polyline>

  </agm-map>
</div>
