.content {
  padding: 50px 0 50px 50px;
  margin: 0 auto;
  display: flex;
}

agm-map {
  height: 75vh;
  width: 75vw;
  margin: 0 auto !important;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.35);
  display: flex;
  align-items: center;
}

.form {
  width: 25vw;
}

.data {
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;

  .title {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }

  .obs {
    font-size: 10px;
  }

  mat-form-field {
    margin-top: 16px;
  }
}

.error {
  font-size: 12px;
  text-align: center;
  color: #7d0000;
}

.spinner {
  margin-left: auto;
  padding-right: 5px;
}
.all-markers {
  text-align:  center;
}
::ng-deep {
  .mat-form-field-infix {
    display: flex !important;
  }
}




