<div class="content">
    <agm-map [longitude]="mapConfig.longitude" [latitude]="mapConfig.latitude" [zoom]="mapConfig.zoom">

        <agm-polyline [strokeWeight]="4" strokeColor="purple">

            <agm-polyline-point *ngFor="let position of positions" [latitude]="position.latitude" [longitude]="position.longitude"></agm-polyline-point>

        </agm-polyline>

        <agm-marker *ngFor="let marker of markers; let i = index" (markerClick)="onMouseOpen(marker, 'click')" (mouseOver)="onMouseOpen(marker, 'hover')" (mouseOut)="onMouseClose(marker, 'hover')" [latitude]="marker.latitude" [longitude]="marker.longitude" [iconUrl]="marker.icon">
            <agm-info-window (infoWindowClose)="onMouseClose(marker, 'click')">
                {{ getInfoMarkerText(marker.dateTime, i) }}
            </agm-info-window>
        </agm-marker>

    </agm-map>


    <div class="form">
        <div class="data">
            <h5 class="title">Veja por onde você passou:</h5>
            <div class="obs">Datas com histórico: <b>12/10/2017</b> e <b>25/12/2018</b></div>

            <mat-form-field>
                <input matInput [formControl]="date" [matDatepicker]="picker" placeholder="Selecione uma data">
                <mat-datepicker-toggle  *ngIf="!status.isLoading" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-spinner *ngIf="status.isLoading" diameter="20" strokeWidth="2" class="spinner"></mat-spinner>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div *ngIf="status.error.length" class="error">
            {{status.error}}
        </div>

        <div class="all-markers">
            <button *ngIf="positions.length > 2" mat-stroked-button color="primary" (click)="configMarker(!showAllMarkers)">{{ showAllMarkers? 'Mostrar apenas Chegada e Saída': 'Mostrar todos os pontos' }}</button>
        </div>
    </div>

</div>
