<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Teste de Rotas
  </h1>
</div>

<mat-form-field>
  <input matInput [matDatepicker]="picker" (dateChange)="changeDate($event)" placeholder="Escolha uma data">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
</agm-map>

<router-outlet></router-outlet>
